<!doctype html>
<html lang="en">
  <head>
    <script>window.location='/shop'</script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Project</title>
<!--      <style>-->
<!--          .container {-->
<!--    max-width: 31rem;-->
<!--}-->
<!--      </style>-->
  </head>
  <body>
<!--  <div class="container">-->
<!--<h1>Welcome to Our Website</h1>-->
<!--<h2> Please Visit Our Two Apps</h2>-->
<!--<a href="/shop"><button class="btn btn-primary mx-4">Visit Shop</button></a>-->
<!--<a href="/blog"><button class="btn btn-primary">Visit Vlog</button></a>-->
<!--   </div>-->
  </body>